.html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
:root {
    --primery-fon-color:var(rgba(255, 255, 255, 1));
    --second-color-main-footer:var(rgba(47, 48, 58, 1));
    --body-text-color:var(rgba(33, 150, 243, 1));
    --primery-text-color:var(rgba(33, 33, 33, 1));
    
}

/* второй цвет фона и футера #2F303A */
/* фон чим ми займаемось #F5F5F5*/
/* фон наша команда background: rgba(245, 244, 250, 1); */
/* body text color #000000*/
/* вторичный цвет текста background: rgba(33, 33, 33, 1);
*/
.body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    background-color:var(--primery-fon-color) ;
font-weight: 400;

 
}
.main-conteiner {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 5px salmon;
}

/* основний фон шапки #FFFFFF */
.header {
    background-color: #FFFFFF;
    
    

}
/* conteiner header */


.box-header {

    background-color: ;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    

    
}
.main-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    
}
/* logotype */
.logo:hover {
    color: rgba(33, 150, 243, 1);
}
.logo {
font-family: "Raleway";
font-size: 26px;
font-weight: bold;
color: rgba(33, 150, 243, 1);
text-decoration: none;
padding-left: 0px;
}
.accent:hover {
    color: rgba(33, 150, 243, 1);
}
.accent {
font-family: "Raleway";
font-size: 26px;
font-weight: bold;

color: rgb(0, 0, 1);
margin-right: 93px;

}
.header .link:hover,
.header .link:focus
  {
    color: rgba(33, 150, 243, 1);
}
.link-mail {
    text-decoration: none;
    color: rgba(33, 150, 243, 1);
}

/* delete point from list */
ul {list-style: none;
    margin: 0;
    padding: 0;
    
}

/* site-nav */
 .link {
text-decoration: none;
color: #000;
}
.site-nav .link.carrent.studio {
    color: var(--body-text-color);


}
.site-nav .link.studio {
    color: var(--body-text-color);

}

.site-nav.list {
    display: flex;
    margin-right: 93px;
    
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    

}


.site-nav .item {
    margin-left: 50px;
    background-color: chartreuse;
}

.studio .link {
    color:  #2196F3;
 
}
.portfolio {
    color: #212121;
}

/* auth-nav */
.auth-nav.list {
    display: flex;
    margin-left: 344px;
    
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    

}
.auth-nav .mail {
    margin-right: 0px;
    margin-left: 0px;
}
.auth-nav .tel {
    margin-right: 0px;
    margin-left: 50px;

}
.link-mail {
    
    color: #2196F3;
}

.tel .link {
    color: rgba(117, 117, 117, 1);

}
.auth-nav .item + .item {
    margin-left: 50px;
}

/* hero */
.box-hero {
    margin-top: 0px;
    margin-bottom: 0px;
    outline: 5px solid ;
    
    
}
.hero {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    
}


.hero-title {
    padding: 200px 0px;
    margin-bottom: 30px;

font-weight: 900;
font-size: 44px;
line-height: 1.36;
color: #FFFFFF;
/* hero backgraund */
width: 1230px;
height: 600px;
left: 0px;
top: 80px;

background-color:rgba(33, 33, 33, 1);
margin-block-start: 0em;
    margin-block-end: 0em;
    margin-bottom: 30px;
}

.button {
    /* size button */
    
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    border-radius: 4px;
    /* color button */
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;


    
    /* position text button */
   
    
    left: 724px;
    top: 440px;
    /* text button */
    color: rgba(255, 255, 255, 1);
    font-family: "Roboto";
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-content: center;
    /* identical to box height, or 188% */
    
   
}
/* Особливості */
.box-works {
    display: flex;
}
li,
h3,
p {
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.box-peculiarities {
    margin-top: 94px;
    margin-bottom: 0px;
    outline: 5px solid yellowgreen;
    padding-left: 0px;
    padding-right: 0px;

}
 .section.section {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
    

    
  
 } 
.section-title {
   
font-weight: 700;
line-height: 1.17;
font-size: 14px;


}
.section-title-picture {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    gap: 30px;
    justify-content: space-around;
}


.section-task {
    font-style: normal;  

color: #757575;
}
/* Чим ми займаемося та наша команда--> */
.box-works {
    margin-top: 0px;
    margin-bottom: 0px;
    outline: 5px solid salmon;
    display: flex;
    
}


.section-made work {
    display: inline;
    

    padding-left: 617px;
    padding-right: 617px;


font-weight: 700;
font-size: 36px;
line-height: 1.17;
margin-top: 0px;
margin-bottom: 0px;
text-align: center;

}


/* our team */
.box-team {
    margin-top: 0px;
    margin-bottom: 0px;
    outline: 5px solid salmon;
}
.section-team {
    background-color: rgba(245, 244, 250, 1);
    margin-top: 0px;
margin-bottom: 0px;
outline: 3px solid:#2196F3;
}
.personality-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 1170px;
    padding-left: 0px;
    padding-right: 0px;
}

.name {



font-weight: 500;
font-size: 16px;
line-height: 1.17;


}
.position {
        font-style: normal;
    
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    
    
color: rgba(117, 117, 117, 1);


}
/* footer */
.box-footer {
    margin-top: 0px;
    margin-bottom: 50px;
    outline: 5px solid salmon;
    display: flex;
    text-align: center;
    
    
}
.footer {
/* footer backgraund */
width: 1230px;
height: 252px;
left: 0px;
top: 2094px;
background: rgba(47, 48, 58, 1);
/* footer text */


   
}
.logo-footer .accent-footer:focus,
.logo-footer .accent-footer:hover {
    color: rgba(33, 150, 243, 1);}

.logo-footer {
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
    color:rgba(33, 150, 243, 1);
    
}

.accent-footer {
    font-family: "Raleway";
    font-size: 26px;
    font-weight: bold;
    line-height: 0px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(255, 255, 255, 1);

}
.map:focus,
.map:hover {
    color: rgba(33, 150, 243, 1);
}


.map {
    height: 21px;
width: 231px;
left: 215px;
top: 2205px;
border-radius: nullpx;

    
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
/* or 171% */

letter-spacing: 0.03em;
text-decoration: none;
color: #FFFFFF;


}

.mail-footer {
    
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
/* or 171% */
text-decoration: none;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);


}

.tel-footer {
    
font-style: normal;

font-size: 14px;
line-height: 1.71;
/* or 171% */
text-decoration: none;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}
.tel-footer:focus,
.tel-footer:hover {
    color: rgba(33, 150, 243, 1);
}

/* portfolio */
.button-box {
    display: flex;
}
/* button portfolio blue*/

.button-portfolio {
    height: 38px;
    width: 112px;
    
    border-radius: 4px;
    background: rgb(244, 250, 248);
    
   
    font-family: "Roboto";
    
    font-weight: 500px;
    font-size: 16px;
    line-height: 1.62;
    
    /* identical to box height, or 162% */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
    
    }
    /* batton text-color */
    .button-portfolio:focus {
        background-color: var(--primery-fon-color);
        color: var(--body-text-color);
        
    }
    .button-portfolio:hover {
    color: var(--body-text-color);
    border-color:  rgba(33, 150, 243, 1);
     
}
    /* button-portfolio-all */
    .button-portfolio-all {
        height: 38px;
        width: 73px;
        
        border-radius: 4px;
        background: rgba(33, 150, 243, 1);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
        
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
        
        box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
        
        border-color: rgba(33, 150, 243, 1);       
        
        
        Fill: Solid;
        color: #FFFFFF;
        }
        .button-portfolio-all:focus,
    .button-portfolio-all:hover {
    color:var(--body-text-color);
    border-color: red;
    
}
.box-section-cards {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    
    
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: aqua;
}
.text-container {
    
}

ul .section-title-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    /* identical to box height, or 200% */
    
    
    
    color: #212121;
}


ul .section-task-portfolio {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */
    
    
    
    color: #757575;

}

